# Core packages for Python development
numpy
pandas

# Data visualization
matplotlib
seaborn
plotly

# Machine Learning and Statistical Modeling
scikit-learn
xgboost
statsmodels

# A/B Testing and Hypothesis Testing
scipy

# Data Version Control
dvc

# Git integration and CI/CD
pygit2

# Model interpretability
lime

# Data preprocessing and encoding
category_encoders

# Logging and debugging
loguru

# Miscellaneous
pyyaml
joblib

# For beautiful dataframes in Jupyter
tabulate
# Data
data/